In [1]:
# data ===> Input(x),Target(y)
# Input(x) ===> x_train,x_test
 # Target(y)===> y_train, y_test

In [2]:
#ML Workflow ===>
#Data Gathering ===> Data cleaning and Preprocessing ==> ML Models(x_)

In [3]:
import numpy as np 
import pandas as pd

In [4]:
df=pd.read_csv("C:\\Users\\BHARAMAN\\Downloads\\placement - placement.csv")

In [5]:
df.head(3)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1

In [6]:
x = df.drop(columns = ['placed'],axis = 1) ##input coiumns
y = df['placed'] ## Target coiumns

In [7]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\bharaman\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\bharaman\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\bharaman\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\bharaman\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\bharaman\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [8]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size =0.3,random_state=30)

In [15]:
print("Total Data Shape :" , df.shape)
print("Independet Data Shape(x) :" , x.shape)
print("x_train Data Shape(x_train) :" , x_train.shape)
print("x_test Data Shape(x_test) :" , x_test.shape)
print("Dependent Data Shape(y) :" , y.shape)
print("y_train Data Shape(y_train) :" , y_train.shape)
print("y_test Data Shape(y_test) :" , y_test.shape)

Total Data Shape : (100, 3)
Independet Data Shape(x) : (100, 2)
x_train Data Shape(x_train) : (70, 2)
x_test Data Shape(x_test) : (30, 2)
Dependent Data Shape(y) : (100,)
y_train Data Shape(y_train) : (70,)
y_test Data Shape(y_test) : (30,)

In [17]:
# df(100,3) = x(100,2) + y(100,1) 
# x(100,2) = x_train(70,2) + x_test(30,2) 
# y(100,1) = y_train(70,1) + y_test(30,1)

In [ ]:
### new Data tips.csv

In [19]:
df  = pd.read_csv("C:\\Users\\BHARAMAN\\Downloads\\tips - tips.csv")

In [20]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [23]:
# check misin g value
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [24]:
x = df.drop(columns = ['total_bill'] , axis = 1)
y = df['total_bill']

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size  = 0.2 , random_state = 42)

In [27]:
print("Total Data Shape :" , df.shape)
print("Independet Data Shape(x) :" , x.shape)
print("x_train Data Shape(x_train) :" , x_train.shape)
print("x_test Data Shape(x_test) :" , x_test.shape)
print("Dependent Data Shape(y) :" , y.shape)
print("y_train Data Shape(y_train) :" , y_train.shape)
print("y_test Data Shape(y_test) :" , y_test.shape)

Total Data Shape : (244, 7)
Independet Data Shape(x) : (244, 6)
x_train Data Shape(x_train) : (195, 6)
x_test Data Shape(x_test) : (49, 6)
Dependent Data Shape(y) : (244,)
y_train Data Shape(y_train) : (195,)
y_test Data Shape(y_test) : (49,)